body {background:#F2F2F2; margin:0; padding:0; color:#41484D; font-family:'Open sans', sans-serif; font-size:14px;}
.wrapper {width:800px; margin:0 auto;}
.header {font-size:24px; font-weight:600; padding:40px 0 20px 0; text-align:center}
.block {/* Rectangle 18: */
    background: #FFFFFF;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.20);
    border-radius: 5px;
    padding:15px;
}

.flow {margin-bottom:40px;}
.flow .title {border-bottom:2px solid #E4E2E2; font-weight:600; font-size:18px; padding-bottom:5px;}
.flow .flow-item {position:relative; padding: 10px; border-bottom:1px solid #F3F3F3; }
.flow .flow-item.active {font-weight:600; background: #F3FFF7;  }
.flow .flow-item .progress {color:#B0B0B0; font-weight:300; font-size:12px;}
.flow .flow-item .progress .value {color:#41484D;}
.flow .flow-item .status {position:absolute; right:10px; top:10px; width:30px; height:30px; border-radius:15px; background:#E4E2E2; text-align:center;}
.flow .flow-item .status .fa {line-height:30px;}
.flow .flow-item .status.success {background: #59BF46; color: #fff;}
.flow .log-list {height:200px; overflow: scroll;}
.flow .log-item {font-size:12px; font-weight:300; padding:10px; border-bottom:1px solid #F3F3F3;}
.scenario-block {margin-top:10px;}


.load-block {text-align:center;  }
.btn {/* Rectangle 2: */
    background: #F59521;
    box-shadow: 0px 2px 0px 0px #C6812E;
    border-radius: 4px;
    display:inline-block;
    width:240px;
    color:#fff;
    line-height:34px;
    border:0;
    font-size:14px;
    font-family:'Open sans', sans-serif;
}

.btn:disabled {
    /* Rectangle 2: */
    background: #FDA955;
    box-shadow: 0px 2px 0px 0px #C68D48;
    border-radius: 4px;
}